option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "timedew.settings.production"
  aws:elasticbeanstalk:container:python:
    NumProcesses: 3
    NumThreads: 15
    WSGIPath: timedew/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"


packages:
  yum:
    postgresql93-devel: []
    libjpeg-turbo-devel: []


container_commands:
  00activatevenv:
    command: "source /opt/python/run/venv/bin/activate"
  01collectstatic:
    command: "python manage.py collectstatic --noinput"
  02makemigrations:
    command: "python manage.py makemigrations --noinput"
    leader_only: true
  03migrate:
    command: "python manage.py migrate auth --noinput && python manage.py migrate --noinput"
    leader_only: true
  04createsu:
    command: "python manage.py createsu"
    leader_only: true
  05setup_apache:
    command: "cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"

  